.encabezado {
  background-color: #f7ffff;
  padding: 8px;
  width: 100%;
  height: 100px;
  align-items: left;
  justify-content: normal; }

header {
  background-color: black;
  padding: 30px;
  height: 60px;
  bottom: 20px;
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: left;
  align-items: center; }
  header nav {
    width: 100%;
    text-align: left;
    padding: 0px;
    height: 30px;
    bottom: 20px; }

.navegador {
  position: sticky;
  top: 30px;
  background-color: #f7ffff;
  border: solid 3px black; }

ul li {
  list-style-type: none;
  display: inline-block;
  padding: 7px;
  margin: 7px;
  flex-flow: row wrap; }

.video {
  justify-content: center;
  padding: 20px; }

.grid-container {
  background-color: #f7ffff;
  background-size: cover;
  padding: 40px;
  display: grid;
  grid-gap: 5px;
  justify-content: center; }
  .grid-container div {
    background-color: #f7ffff;
    border: solid 1px black;
    padding: 5px;
    background-size: 10px; }
    .grid-container div img {
      width: 400px; }
  .grid-container body {
    display: grid;
    grid-template-areas: "nav nav nav" "nav nav nav" "header header header" "main main main" "main main main" "footer footer footer";
    font-family: Ubuntu;
    background: black; }
  .grid-container .productos li {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    margin: 300px; }
  .grid-container .primer-bloque-home {
    width: 600px; }
  .grid-container .img-centrada {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto; }

/* ====*/
/* Media queries */
.uk-form-horizontal .uk-form-label {
  width: 200px;
  margin-top: 5px;
  float: left; }

header {
  display: flex;
  width: 600;
  height: 315; }
  header nav {
    grid-area: nav;
    align-items: center;
    justify-content: space-around; }
  header .navegador {
    position: center;
    top: 0;
    background-color: black; }
    header .navegador ul li {
      list-style-type: none;
      display: block;
      padding: 10px;
      margin: 10px;
      flex-flow: row wrap;
      text-decoration: none;
      color: black; }
  header main {
    grid-area: main;
    background-color: #f7ffff;
    padding: 10px; }
  header .padre {
    background-color: #f7ffff;
    border: black; }
  header .header {
    display: flex; }
  header .video {
    display: flex;
    padding: 5px;
    align-items: center;
    border: solid 1px #797b7c; }

@keyframes circulo {
  0% {
    background-color: #f7ffff;
    border-radius: 0; }
  50% {
    border-radius: 5px; }
  100% {
    background-color: #f7ffff;
    border-radius: 100px; } }

/* ====*/
/* Transformaciones */
.contenedor {
  height: 70vh;
  width: 100vw;
  background-color: #f7ffff;
  display: flex;
  align-items: left;
  justify-content: left; }

.cuadrado {
  width: 100px;
  height: 100px;
  background-color: #bdbdbd;
  border: solid 2px #bdbdbd;
  animation-name: circulo;
  animation-iteration-count: 3s;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-delay: .1s; }

.sidebar {
  display: grid;
  justify-content: center; }

.grid-container {
  background-color: #f7ffff;
  background-size: cover;
  padding: 50px;
  display: grid;
  grid-gap: 5px;
  justify-content: center; }
  .grid-container .encabezado {
    background-color: #f7ffff;
    border: solid 1px black;
    padding: 5px; }

div {
  width: 1168px;
  justify-content: center; }

div {
  color: black; }

.color-red {
  background-color: red; }

.color-blue {
  background-color: blue; }

.color-green {
  background-color: green; }

.color-yellow {
  background-color: yellow; }

.btn-twitter {
  background-color: #56c9ff; }

.btn-facebook {
  background-color: blue; }

.btn-instagram {
  background-color: violet; }

.boton, .boton-primario {
  border: solid 2px #ccc;
  background-color: #7c7c7c; }

.boton-primario {
  color: red; }

.box {
  height: 50px;
  width: 10px;
  padding: 50px; }
