
//Color
$color-main: rgb(0, 0, 0);
$color-secondary:rgb(247, 255, 255);
$color-tertiary: rgb(130, 173, 238);
$link-color2: #ffffff;

//Separacion
$separacion: 15px 2px 3px 8px;

//Bordes
$border: solid 2px black;